.container {
    max-width: 900px;
    background: var(--color-card);
    padding: 32px;
    border-radius: 23px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

body.darkTheme .container {
    border: 1px solid var(--color-border);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}

.sun {
    color: var(--color-primary);
}

.moon {
    color: #e0e0e0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    display: flex;
    gap: 18px;
    align-items: center;
}

.logo {
    height: 55px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #fff;
    font-size: 1.35rem;
    flex-shrink: 0;
    background: var(--color-gradient);
}

.logoIcon {
    /* color: var(--color-icon); */
    background-color: var(--color-bacground-icon);
}

.title {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--color-text);
}

.themeToggle {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(---color-placeholder);
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}
.themeToggle:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.themeToggle:hover .moon {
    color: #fff;
}

.themeToggle:hover .sun {
    color: #463cff;
}

.mainContent {
    margin: 35px 0 5px;
}

.promptContainer {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.promptInput {
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    color: var(--color-text);
    padding: 16px 20px;
    border-radius: 15px;
    background: var(--color-input);
    border: 1px solid var(--color-border);
}

.promptInput::placeholder {
    color: var(---color-placeholder);
}

.promptInput:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 4px rgba(139, 92, 246, 0.15);
}

.promptBtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    border: none;
    color: #fff;
    border-radius: 50%;
    opacity: 0.8;
    background: var(--color-gradient);
    transition: all 0.3s ease;
}

.promptBtn:hover {
    cursor: pointer;
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.promptActions {
    display: grid;
    gap: 14px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
}

.promptActions .customSelect,
.promptActions .generateBtn {
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.customSelect:is(:focus, :hover) {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.1);
}

.customSelect {
    width: 100%;
    outline: none;
    height: 100%;
    background: var(--color-input);
    color: var(--color-text);
}

.selectWrapper::after {
    content: "";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    padding-left: 7px;
    pointer-events: none;
    background-color: var(--color-input);
    color: var(---color-placeholder);
    transform: translateY(-50%);
    font-size: 0.9rem;
}

.generateBtn {
    display: flex;
    gap: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border: none;
    color: #fff;
    background: var(--color-gradient);
    margin-left: auto;
}

.generateBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(100, 40, 217, 0.3);
}

.galleryGrid {
    display: grid;
    gap: 15px;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
